.fixed-sidebar {
  position: sticky;
  top: 56px;
  height: 80vh;
  overflow-y: auto;
  background: #f8f9fa;
  padding: 15px;
}

.main-content {
  padding: 20px;
  min-height: 100vh;
}

.table-responsive {
  max-height: 100vh;
  overflow-y: auto;
}

.list-group-item {
  cursor: pointer;
}
.list-group-item:hover{
  background-color: #bbd4ec;
}
.list-group-item.active {
  background-color: #007bff;
  color: white;
}

/* Responsive Sidebar */
@media (max-width: 991px) {
  .fixed-sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-content {
    margin-left: 0;
    padding: 10px;
  }

  .list-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row !important;
  }

  .list-group-item {
    flex: 1 1 auto;
    text-align: center;
    max-width: 120px;
  }
}
